# Ignore python related folders/files
*__pycache__

*data/

# Ignore any log files
*logs/

# Ignore the Experiment.csv files since they are repeating the pipeline file (not used)
*Experiment.csv

# Ignore "in-progress" work (removed later)
*in_progress
